@page "/players"
@using Microsoft.AspNetCore.Components.QuickGrid
@using SS14.Admin.Components.Forms

<PageTitle>Players</PageTitle>

<h1 class="text-2xl font-bold mb-4">Players</h1>

<PlayerFilter Filter="_model" FormName="playerFilter" OnSubmit="@OnFilterSubmit" />

<QuickGrid TItem="PlayerViewModel"
           @ref="Grid"
           Items="@_playersList.AsQueryable()"
           Pagination="@_pagination"
           Class="grow">
    <PropertyColumn Property="@(player => player.LastSeenUsername)" Title="Last Name" Class="text-primary-1"></PropertyColumn>
    <PropertyColumn Property="@(player => player.Guid)" Title="User ID" Class="text-primary-1"></PropertyColumn>
    <PropertyColumn Property="@(player => player.LastSeen)" Title="Last Seen Time" Class="text-primary-1"></PropertyColumn>
    <PropertyColumn Property="@(player => RedactIp(player.LastSeenIPAddress))" Title="Last Seen Address" Class="text-primary-1"></PropertyColumn>
    <PropertyColumn Property="@(player => RedactHwid(player.LastSeenHwid))" Title="Last Seen Hwid" Class="text-primary-1"></PropertyColumn>
    <PropertyColumn Property="@(player => player.FirstSeen)" Title="First Seen" Class="text-primary-1"></PropertyColumn>
    <TemplateColumn Title="Actions" Context="player">
                <NavLink href="@($"players/{player.Guid.ToString()}")" class="btn btn-primary">
                    <i class="ri-info-card-line"></i>
                </NavLink>
    </TemplateColumn>
</QuickGrid>
<Pagination OnRefreshRequired="Refresh" class="py-2 border-t bg-primary-1 sticky-pagination" State="@_pagination"/>
