@page "/Permissions/Admins"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using SS14.Admin.Components.Forms
@attribute [Authorize(Roles = "PERMISSIONS")]

<PageTitle>Admin Permissions</PageTitle>

<div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Manage Permissions</h1>
    <NavLink href="/permissions/add" class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg shadow-md transition-colors">
        + Add Admin
    </NavLink>
</div>

<AdminFilter Filter="@_filter" FormName="AdminPermissionsPageFilterForm" OnSubmit="RefreshFilter" />

<QuickGrid
           @ref="Grid"
           ItemsProvider="@_adminProvider"
           Pagination="@_pagination"
           Class="grow">
    <PropertyColumn Property="@(admin => admin.Username)" Title="Username"></PropertyColumn>
    <PropertyColumn Property="@(admin => admin.Title)" Title="Title"></PropertyColumn>
    <PropertyColumn Property="@(admin => admin.Rank)" Title="Rank"></PropertyColumn>
    <TemplateColumn Title="Flags" Context="admin">
        @FormatFlags(admin.Flags)
    </TemplateColumn>
    <TemplateColumn Title="Edit Permissions" Context="admin">
        <NavLink href="@($"/permissions/{admin.UserId}")" class="btn btn-primary">
            Edit
        </NavLink>
    </TemplateColumn>
</QuickGrid>

<Pagination OnRefreshRequired="Refresh" class="py-2 border-t bg-primary-1 sticky-pagination" State="@_pagination"/>
