@page "/Permissions/Ranks"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@attribute [Authorize(Roles = "PERMISSIONS")]

<PageTitle>Manage Ranks</PageTitle>

<div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Manage Ranks</h1>
    <NavLink href="/permissions/ranks/new" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md transition-colors focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        Add New Rank
    </NavLink>
</div>

<QuickGrid
           @ref="Grid"
           ItemsProvider="@_rankProvider"
           Pagination="@_pagination"
           Class="grow">
    <PropertyColumn Property="@(rank => rank.Name)" Title="Rank Name" Class="text-primary-1"></PropertyColumn>
    <TemplateColumn Title="Flags" Context="rank">
        @FormatFlags(rank.Flags)
    </TemplateColumn>
    <TemplateColumn Title="Edit Rank" Context="rank">
        <NavLink href="@($"/permissions/ranks/{rank.Name}")" class="btn btn-primary">
            Edit
        </NavLink>
    </TemplateColumn>
</QuickGrid>

<Pagination OnRefreshRequired="Refresh" class="py-2 border-t bg-primary-1 sticky-pagination" State="@_pagination"/>
